<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>

  <!-- log4net Configuration -->
  <log4net>

    <root>
      <level value ="ALL"/>
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="AdoNetAppender" />
    </root>
    
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="AppendToFile" value="true" />
      <param name="File" value="Log/sys.log" />
      <param name="MaxSizeRollBackups" value="10" />
      <param name="MaximumFileSize" value="5000KB" />
      <param name="RollingStyle" value="Size" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="" />
        <param name="Footer" value="[Footer]\r%n" />
        <param name="ConversionPattern" value="%n>>> %d [%t] (line: %L) - {%c} [%x]%n[%-5p] %m%n" />
      </layout>
    </appender>

    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="100" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="data source=[HP-2014-008];initial catalog=[CCCP];persist security info=True;user id=[cccp_admin];password=[cccp_admin]" />
      <commandText value="INSERT INTO ErrorLog ([SourceData],[ExceptionMessage],[StackTrace],[CreatedBy]) VALUES (@SourceData, @ExceptionMessage, @StackTrace, @CreatedBy)" />
      <parameter>
        <parameterName value="@SourceData" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{SourceData}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@ExceptionMessage" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{ExceptionMessage}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@StackTrace" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{StackTrace}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@CreatedBy" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{CreatedBy}" />
        </layout>
      </parameter>
    </appender>

  </log4net>
</configuration>