@{
    ViewBag.Title = @Resources.global.Menu_Dashboard;
}

<section class="content-header">
    <h1>
        <i class="fa fa-dashboard"></i> @Resources.global.Menu_Dashboard
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-lg-6">
            <!-- info box -->
            <div class="info-box bg-green">
                <span class="info-box-icon">
                    <i class="glyphicon glyphicon-align-left"></i>
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">General Enquiries</span>
                    <span class="info-box-number">14/20</span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 70%"></div>
                    </div>
                    <span class="progress-description">
                        70% Finished
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <!-- info box -->
            <div class="info-box bg-orange">
                <span class="info-box-icon">
                    <i class="glyphicon glyphicon-align-left"></i>
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">Incidents</span>
                    <span class="info-box-number">28/40</span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 70%"></div>
                    </div>
                    <span class="progress-description">
                        70% Finished
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="box box-success box-solid" style="height:310px">
                <div class="box-header with-border">
                    <h3 class="box-title">Outstanding General Enquiries</h3>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <table class="OutstandingCase table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <th>Enquiry No.</th>
                            <th>Enquiry Type</th>
                            <th>Date</th>
                            <th>Incident Background</th>
                            <th></th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1234567</td>
                                <td>System (Billing)</td>
                                <td>2015-12-28 11:11:11</td>
                                <td>Oh No...</td>
                                <td><i class="fa fa-sliders"></i></td>
                            </tr>
                            <tr>
                                <td>1234567</td>
                                <td>System (Billing)</td>
                                <td>2015-12-28 11:11:11</td>
                                <td>Oh No...</td>
                                <td><i class="fa fa-sliders"></i></td>
                            </tr>
                            <tr>
                                <td>1234567</td>
                                <td>System (Billing)</td>
                                <td>2015-12-28 11:11:11</td>
                                <td>Oh No...</td>
                                <td><i class="fa fa-sliders"></i></td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="#" class="small-box-footer pull-right">
                        More <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-lg-6">
            <div class="box box-warning box-solid" style="height:310px">
                <div class="box-header with-border">
                    <h3 class="box-title">Outstanding Incidents</h3>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <ul class="nav nav-pills">
                        <li class="active"><a href="#Level1" data-toggle="tab">Level 1</a></li>
                        <li><a href="#Level2" data-toggle="tab">Level 2</a></li>
                        <li><a href="#Level3" data-toggle="tab">Level 3</a></li>
                        <li><a href="#Crisis" data-toggle="tab">Crisis</a></li>
                    </ul>

                    <div id="myTabContent" class="tab-content">

                        <div class="tab-pane fade active in" id="Level1">
                            <div class="box box-primary">
                                <div class="box-body">
                                    <table class="OutstandingCase table table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <th>Incident No.</th>
                                            <th>Incident Type</th>
                                            <th>Date</th>
                                            <th>Incident Background</th>
                                            <th></th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1234567</td>
                                                <td>System (Billing)</td>
                                                <td>2015-12-28 11:11:11</td>
                                                <td>Oh No...</td>
                                                <td><i class="fa fa-sliders"></i></td>
                                            </tr>
                                            <tr>
                                                <td>1234567</td>
                                                <td>System (Billing)</td>
                                                <td>2015-12-28 11:11:11</td>
                                                <td>Oh No...</td>
                                                <td><i class="fa fa-sliders"></i></td>
                                            </tr>
                                            <tr>
                                                <td>1234567</td>
                                                <td>System (Billing)</td>
                                                <td>2015-12-28 11:11:11</td>
                                                <td>Oh No...</td>
                                                <td><i class="fa fa-sliders"></i></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="Level2">
                            <div class="box box-primary">
                                <div class="box-body">
                                    <table class="OutstandingCase table table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <th>Incident No.</th>
                                            <th>Incident Type</th>
                                            <th>Date</th>
                                            <th>Incident Background</th>
                                            <th></th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1234567</td>
                                                <td>System (Billing)</td>
                                                <td>2015-12-28 11:11:11</td>
                                                <td>Oh No...</td>
                                                <td><i class="fa fa-sliders"></i></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="Level3">
                            <div class="box box-primary">
                                <div class="box-body">
                                    <table class="OutstandingCase table table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <th>Incident No.</th>
                                            <th>Incident Type</th>
                                            <th>Date</th>
                                            <th>Incident Background</th>
                                            <th></th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1234567</td>
                                                <td>System (Billing)</td>
                                                <td>2015-12-28 11:11:11</td>
                                                <td>Oh No...</td>
                                                <td><i class="fa fa-sliders"></i></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="Crisis">
                            <div class="box box-primary">
                                <div class="box-body">
                                    <table class="OutstandingCase table table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                        <th>Incident No.</th>
                                        <th>Incident Type</th>
                                        <th>Date</th>
                                        <th>Incident Background</th>
                                        <th></th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1234567</td>
                                                <td>System (Billing)</td>
                                                <td>2015-12-28 11:11:11</td>
                                                <td>Oh No...</td>
                                                <td><i class="fa fa-sliders"></i></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <a href="#" class="small-box-footer pull-right">
                        More <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            Incident Summary
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            Crisis Approval List
        </div>
    </div>
</section>

@section Scripts {
    <script>
    </script>
}