@{
    ViewBag.Title = "Home Page";
}

<section class="content-header">
    <h1>
        <i class="fa fa-dashboard"></i> @Resources.global.Menu_Dashboard
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-lg-6">
            <!-- info box -->
            <div class="info-box bg-green">
                <span class="info-box-icon">
                    <i class="glyphicon glyphicon-align-left"></i>
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">General Enquiries</span>
                    <span class="info-box-number">14/20</span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 70%"></div>
                    </div>
                    <span class="progress-description">
                        70% Finished
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <!-- info box -->
            <div class="info-box bg-orange">
                <span class="info-box-icon">
                    <i class="glyphicon glyphicon-align-left"></i>
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">Incidents</span>
                    <span class="info-box-number">28/40</span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 70%"></div>
                    </div>
                    <span class="progress-description">
                        70% Finished
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            Outstanding General Enquiries
        </div>
        <div class="col-lg-6">
            Outstanding Incidents
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            Incident Summary
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            Crisis Approval List
        </div>
    </div>
</section>
