
<div id="result" class="alert alert-success alert-dismissible" @(ViewBag.Message != null && ViewBag.Message != "" ? "" : "style=display:none")>
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4><i class="icon fa fa-check"></i> Success!</h4>
    @ViewBag.Message
</div>
