@model CCCP.Business.Model.GeneralEnquiryModel

@using CCCP.Common
@{
    ViewBag.Title = Resources.global.Menu_GeneralEnquiry;
}

@section Scripts {
    <script>
	    $(function() {
		    $('#accordion').on('show.bs.collapse', function () {
			    $('#HistoryIcon').removeClass("fa-angle-left");
			    $('#HistoryIcon').addClass("fa-angle-down");
		    });
		    $('#accordion').on('hide.bs.collapse', function () {
			    $('#HistoryIcon').removeClass("fa-angle-down");
			    $('#HistoryIcon').addClass("fa-angle-left");
		    });

		    $('#LinkedIncidentTable').DataTable();

		    $('#Checklists input[type="checkbox"]').each(function () {
			    value = $(this).val();
			    $(this).checkbox().chbxChecked(value == '2' ? true : (value == '0' ? false : null));
		    });

            // read mode, disabled change state functionality for the tri-state checkbox
		    $('.bootstrap-checkbox').off('click');

		    $('input[type=checkbox]').click(function(event) {
		        event.preventDefault();
		    });

	        $('#btnCloseIncident').on('click', function (event) {
	            bootbox.confirm('@Resources.global.Label_CloseIncident', function (result) {
	                if (result) {
	                    window.location = '@Url.Action("CloseIncident", "GeneralEnquiry")';
	                    return true;
	                }
	            });
	        });
	    });
    </script>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    @{ Html.RenderAction("AlertSuccess", "Home", new { message = ViewBag.Message }); }

    <h1>
        <i class="fa fa-clipboard"></i> <a href="@Url.Action("Index", "GeneralEnquiry")">@Resources.global.Menu_GeneralEnquiry</a> - Chat Room
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->

    <div class="row">
        <div class="col-lg-12">
            <div class="box box-primary">
                <div class="box-header">
                    <div class="form-group pull-right">
                        <button class="btn btn-primary" type="button" id="btnCreateIncident">Create Incident</button>
                        <button class="btn btn-primary" type="button" id="btnCloseEnquiry">Close Enquiry</button>
                        <button class="btn btn-primary" type="button" id="btnCancelEnquiry">Cancel Enquiry</button>
                    </div>
                </div>

                <div class="box-body">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <div id="chat" style="height: 400px;overflow-y: scroll;">
                            <div class="bubble you">
                                <label>Peter</label><br>
                                What happened?<br>
                                <h6 align="right">11:46</h6>
                            </div>
                            <div class="bubble me">
                                Someone got cut.<br>
                                <h6 align="right">11:52</h6>
                            </div>
                            <div class="bubble you">
                                <label>John</label><br>
                                Is it serious?<br>
                                <h6 align="right">11:55</h6>
                            </div>
                        </div>
                        <div id="SendMessage">
                            <textarea rows="4" cols="150"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>  
            </div>
        </div>
    </div>
</section><!-- /.content -->